* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@font-face {
  font-family: "PoetsenOne-Regular";
  src: url(assets\f ontsPoetsenOne-Regular.ttf);
}
@keyframes saltar {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(-5px);
  }
}
.navbar {
  display: flex;
  padding: 2rem;
  background: linear-gradient(to right, #797985, #111111);
  box-sizing: 20px;
}

.logo {
  max-width: 5rem;
}

.navbar-nav {
  display: flex;
  padding: 1rem;
  list-style-type: none;
  text-transform: uppercase;
  gap: 1rem;
  overflow: hidden;
}

.navbar-nav a {
  text-decoration: none;
  color: rgb(219, 228, 222);
}

.navbar-nav li:hover {
  transform: translateY(-10px);
  background-color: rgb(236, 81, 9);
  border-radius: 5px 5px;
}

.title1 {
  display: flex;
  font-family: "PoetsenOne-Regular";
  font-size: 50px;
  justify-content: center;
  padding: 2rem;
  animation: saltar 0.3s alternate;
  transform: translateY(0);
}

.title2 {
  display: flex;
  font-family: "PoetsenOne-Regular";
  font-size: 50px;
  justify-content: center;
  padding: 2rem;
  animation: saltar 0.3s alternate;
  transform: translateY(0);
}

.title3 {
  display: flex;
  font-family: "PoetsenOne-Regular";
  font-size: 50px;
  justify-content: center;
  padding: 2rem;
  animation: saltar 0.3s alternate;
  transform: translateY(0);
}

.title4 {
  display: flex;
  font-family: "PoetsenOne-Regular";
  font-size: 50px;
  justify-content: center;
  padding: 2rem;
  animation: saltar 0.3s alternate;
  transform: translateY(0);
}

.title5 {
  display: flex;
  font-family: "PoetsenOne-Regular";
  font-size: 50px;
  justify-content: center;
  padding: 2rem;
  animation: saltar 0.3s alternate;
  transform: translateY(0);
}

.footer-index {
  padding: 2rem;
  text-align: center;
}

.redes-sociales i {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.footer-proyectos {
  padding: 2rem;
  text-align: center;
}

.footer-pac {
  padding: 2rem;
  text-align: center;
}

.footer-contact {
  padding: 2rem;
  text-align: center;
}

.inicio1 {
  display: flex;
}

.img1 {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
}

.texto1 {
  width: auto;
  height: auto;
  padding: 2rem;
  text-align: justify;
}

.inicio2 {
  display: flex;
}

.texto2 {
  width: auto;
  height: auto;
  padding: 2rem;
  text-align: justify;
}

.img2 {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
}

.inicio3 {
  display: flex;
}

.img3 {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
}

.texto3 {
  width: auto;
  height: auto;
  padding: 2rem;
  text-align: justify;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  text-align: center;
}

.upload:hover {
  background-color: #e9e9e9;
}

.upload h2 {
  margin-bottom: 20px;
  color: #555151;
  font-size: 14px;
}

.upload label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.upload label i {
  margin-left: 5px;
}

.upload label:hover {
  background-color: #45a049;
}

.upload input[type=file] {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  width: 500px;
  margin: 20px auto;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.search:hover {
  border-color: #888;
}

.search label {
  color: #333;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.search input[type=search] {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
}

.search input[type=search]::placeholder {
  color: #aaa;
}

.search input[type=search]:focus::placeholder {
  color: transparent;
}

.search {
  padding: 3rem;
  text-align: center;
}

.download {
  padding: 3rem;
  text-align: center;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.download:hover {
  background-color: #e9e9e9;
}

.download label {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.download .download-button {
  display: inline-flex;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.download .download-button i {
  margin-left: 10px;
  font-size: 20px;
}

.download .download-button:hover {
  background-color: #45a049;
}

.cursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 25vh;
}

.busqueda, .barra, .boton-buscar {
  padding: 1rem;
}

.boton-buscar {
  display: block;
}

.grid-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

#carouselExampleCaptions {
  display: flex;
  margin: 0 auto;
  height: 20rem;
  width: 30rem;
}

.carousel-item img {
  height: 300px;
  width: 400px;
}

.text-dir {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.archivos {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.archivos ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.archivos li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.archivos i {
  margin-right: 10px;
  font-size: 20px;
  color: #0a1016;
}

.archivos a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.archivos a:hover {
  text-decoration: underline;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 80%;
  margin: 20px auto;
}

.contact-item {
  margin-bottom: 20px;
  text-align: center;
}

.contact-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.maps {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.coments {
  padding: 2rem;
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.coments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 80%;
  margin: 20px auto;
}

.coments form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coments label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.coments textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: vertical;
  margin-bottom: 20px;
  resize: none;
}

.coments .button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.coments .button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .inicio1 {
    display: inline-block;
  }
  .inicio1 .img1 {
    display: flex;
    margin: 0 auto;
  }
  .inicio2 {
    display: inline-block;
  }
  .inicio2 .img2 {
    display: flex;
    margin: 0 auto;
  }
  .inicio3 {
    display: inline-block;
  }
  .inicio3 .img3 {
    display: flex;
    margin: 0 auto;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
