header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(226, 223, 223);
    font-family: "PoetsenOne-Regular";
}

.logo{
    max-width: 5rem
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list a{
    text-decoration: none;
    color: black;
}

.abrir-menu{
    display: none;
}