.navbar{
    display: flex;
    padding: 2rem;
    background: linear-gradient(to right, #797985, #111111);
    box-sizing: 20px;
}

.logo{
    max-width: 5rem
}

.navbar-nav{
    display: flex;
    padding: 1rem;
    list-style-type: none;
    text-transform: uppercase;
    gap: 1rem;
    overflow: hidden;
}

.navbar-nav a{
    text-decoration: none;
    color: rgb(219, 228, 222);
    
    
}

.navbar-nav li:hover{
    transform: translateY(-10px);
    background-color: rgb(236, 81, 9);
    border-radius: 5px 5px;
    
}


