.text-dir{
    width: auto;
    height: auto;
    padding: 2rem;
    text-align: justify;
}
.archivos{
    display: flex;
    padding: 3rem;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

.archivo1{
    padding: 3rem;
    
}

.archivo2{
    padding: 3rem;
}

.archivo3{
    padding: 3rem;
}