.text-dir {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.archivos {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.archivos ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.archivos li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.archivos i {
    margin-right: 10px;
    font-size: 20px;
    color: #0a1016;
}

.archivos a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.archivos a:hover {
    text-decoration: underline;
}
