.cursos {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 2rem;
    min-height: 25vh;
}

.busqueda, .barra, .boton-buscar {
    padding: 1rem;
}

.boton-buscar {
    display: block;
}

.grid-container{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}



#carouselExampleCaptions {
    display: flex;
    margin: 0 auto;
    height: 20rem;
    width: 30rem;
}

.carousel-item{
    img{
        height: 300px;
        width: 400px;
    }
}

