.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.upload:hover {
    background-color: #e9e9e9;
}

.upload label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.upload label i {
    margin-right: 10px;
}

.upload input[type="file"] {
    display: none;
}

.upload input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload input[type="submit"]:hover {
    background-color: #45a049;
}

.upload{
    padding: 3rem;
    text-align: center;
}


.search {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 500px;
    margin: 20px auto;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.search:hover {
    border-color: #888;
}

.search label {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.search input[type="search"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
}

.search input[type="search"]::placeholder {
    color: #aaa;
}

.search input[type="search"]:focus::placeholder {
    color: transparent;
}

.search{
    padding: 3rem;
    text-align: center;
}

.download{
    padding: 3rem;
    text-align: center;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.download:hover {
    background-color: #e9e9e9;
}

.download label {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.download .download-button {
    display: inline-flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.download .download-button i {
    margin-left: 10px;
    font-size: 20px;
}

.download .download-button:hover {
    background-color: #45a049;
}