/** para los bg usar gradientes **/

.proyectos{
    background-image: url(../assets/images/background2.jpg);
}

.pac{
    background-image: url(../assets/images/background3.jpg);
    background-size: cover;
}

.directivas{
    background-image: url(../assets/images/background1.jpg);
}
    
.contacto{
    background-color: gray;
    
}






