@media screen and (max-width: 768px) {
    
    .inicio1{
        display: inline-block;
        .img1{
            display: flex;
            margin: 0 auto;
        }
    }

    .inicio2{
        display: inline-block;
        .img2{
            display: flex;
            margin: 0 auto;
        }
    }

    .inicio3{
        display: inline-block;
        .img3{
            display: flex;
            margin: 0 auto;
        }
    }
    
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}