@media screen and (max-width: 768px) {
    .abrir-menu{
        display: block;
        justify-items: right;
        font-size: 2rem;
        background-color: rgb(224, 162, 90);
        
    }

    .nav-list {
        display: none;
    }
   
    

    header{
        background: linear-gradient(to right, #e06512, #d6d8d2);
    }
    .inicio1{
        display: block;
    }
    .inicio2{
        display: block;
               
    }
    .inicio3{
        display: block;
    }
    
}