@media screen and (max-width: 768px) {
    .abrir-menu{
        display: block;
        font-size: 2rem;
        background-color: rgb(224, 162, 90);
    }
    .nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(224, 162, 90);
        padding: 2rem;
        box-shadow: rgb(224, 162, 90);
    }
    header{
        background-color: brown;
    }
    .inicio1{
        display: block;
    }
    .inicio2{
        display: block;
       
    }
    .inicio3{
        display: block;
    }
    
}