@mixin titles {
    display: flex;
    font-family: "PoetsenOne-Regular";
    font-size: 50px;
    justify-content: center;
    padding: 2rem;
    animation: saltar .3s infinite;
    transform: translateY(0);
}

@mixin img-index{
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    align-items: center;
}